.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.viewer-container {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    min-height: 0;
    width: 100%;
}

.viewing-list {
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: repeat(
        auto-fill,
        minmax(calc(100% / 3 - 16px), 1fr)
    );

    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 16px;
}

/* Tablet/laptop: 2 columns */
@media (max-width: 1024px) {
    .viewing-list {
        grid-template-columns: repeat(
            auto-fill,
            minmax(calc(100% / 2 - 16px), 1fr)
        );
    }
}

/* Mobile: 1 column */
@media (max-width: 640px) {
    .viewing-list {
        grid-template-columns: 1fr;
    }
}

.twitch-viewer-container {
    width: 100%;
    height: 100%;
}
